@using MediaLibrarian.Models

@{
    ViewData["Title"] = "Home Page";
}

<br>
<br>
<br>
<div class="card-group text-center">
    <div class="card border-5 border-secondary">
        <img src="https://raw.githubusercontent.com/GiorgioMotorola/MediaLibrarian/master/MediaLibrarian/Images/Carousel/Movie.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title ">JAWS</h5>
              <a href="MovieModels" class="btn btn-warning">Go To Movies</a>
        </div>
    </div>
    <div class="card border-5 border-secondary">
        <img src="https://raw.githubusercontent.com/GiorgioMotorola/MediaLibrarian/master/MediaLibrarian/Images/Carousel/Music.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title ">THE REPLACEMENTS</h5>
            <a href="MusicModels" class="btn btn-warning">Go To Music</a>
        </div>
    </div>
    <div class="card border-5 border-secondary">
        <img src="https://raw.githubusercontent.com/GiorgioMotorola/MediaLibrarian/master/MediaLibrarian/Images/Carousel/Game.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title ">OUTER WILDS</h5>
            <a href="VideoGameModels" class="btn btn-warning">Go To Games</a>
        </div>
    </div>
</div>

<div class="card-group text-center">
    <div class="card border-5 border-secondary">
        <img src="https://raw.githubusercontent.com/GiorgioMotorola/MediaLibrarian/master/MediaLibrarian/Images/Carousel/TV.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title ">I THINK YOU SHOULD LEAVE</h5>
            <a href="TelevisionModels" class="btn btn-warning">Go To TV</a>
        </div>
    </div>
    <div class="card border-5 border-secondary">
        <img src="https://raw.githubusercontent.com/GiorgioMotorola/MediaLibrarian/master/MediaLibrarian/Images/Carousel/Books.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title ">DON QUIXOTE</h5>
            <a href="BookModels" class="btn btn-warning">Go To Books</a>
        </div>
    </div>
    <div class="card border-5 border-secondary">
        <img src="https://raw.githubusercontent.com/GiorgioMotorola/MediaLibrarian/master/MediaLibrarian/Images/Carousel/Game2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title ">HORIZON FORBIDDEN WEST</h5>
            <a href="VideoGameModels" class="btn btn-warning">Go To Games</a>
        </div>
    </div>
</div>

