@model MediaLibrarian.Models.TelevisionModel
@using MediaLibrarian.Enums

@{
    ViewData["Title"] = "Create";
}

<h1>Add TV Show</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stars" class="control-label"></label>
                <input asp-for="Stars" class="form-control" />
                <span asp-validation-for="Stars" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRating" class="control-label"></label>
                <input asp-for="UserRating" class="form-control" />
                <span asp-validation-for="UserRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearStart" class="control-label"></label>
                <input asp-for="YearStart" class="form-control" />
                <span asp-validation-for="YearStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearEnd" class="control-label"></label>
                <input asp-for="YearEnd" class="form-control" />
                <span asp-validation-for="YearEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seasons" class="control-label"></label>
                <input asp-for="Seasons" class="form-control" />
                <span asp-validation-for="Seasons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre">Genre</label>
                <select asp-for="Genre" asp-items="@Html.GetEnumSelectList<TelevisionGenreCategory>()">
                    <option>--Select--</option>
                </select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreTwo" class="control-label"></label>
                <input asp-for="GenreTwo" class="form-control" />
                <span asp-validation-for="GenreTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreThree" class="control-label"></label>
                <input asp-for="GenreThree" class="form-control" />
                <span asp-validation-for="GenreThree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
