@model MediaLibrarian.Models.VideoGameModel
@using MediaLibrarian.Enums

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Video Game</h4>
<hr />


<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger float-lg-end" />
</form>
<br>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company" class="control-label"></label>
                <input asp-for="Company" class="form-control" />
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Platform" class="control-label"></label>
                <input asp-for="Platform" class="form-control" />
                <span asp-validation-for="Platform" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRating" class="control-label"></label>
                <input asp-for="UserRating" class="form-control" />
                <span asp-validation-for="UserRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ESRB">MPAA Rating</label>
                <select asp-for="ESRB" asp-items="@Html.GetEnumSelectList<ESRBRatingCategory>()">
                    <option>--Select--</option>
                </select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre">MPAA Rating</label>
                <select asp-for="Genre" asp-items="@Html.GetEnumSelectList<VideoGameGenreCategory>()">
                    <option>--Select--</option>
                </select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreTwo" class="control-label"></label>
                <input asp-for="GenreTwo" class="form-control" />
                <span asp-validation-for="GenreTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreThree" class="control-label"></label>
                <input asp-for="GenreThree" class="form-control" />
                <span asp-validation-for="GenreThree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <input type="reset" value="Reset" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>
<br>

<a asp-action="Index">Back to List</a>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
